<h1>Lenguajes De Programacion</h1>
<p>Un lenguaje de programación es un conjunto de símbolos y códigos usados para orientar la programación de estructuras en el desarrollo web</p>
<br>

<img src="assets/images/0.jpeg" width="500px" height="300px"> 

<br>
<br>
<h2>¿Que son los lenguajes de progrmacion?</h2>
<p>Es un lenguaje formal que, mediante una serie de instrucciones, le permite a un programador escribir un conjunto de órdenes, acciones consecutivas, datos y algoritmos para, de esa forma, crear programas que controlen el comportamiento físico y lógico de una máquina.</p>

