<h1>Tabla De Los 10 Lenguajes De Programacion Actualmente</h1>
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Numero</th>
        <th scope="col">Nombret</th>
        <th scope="col">Imagen</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th >1</th>
        <td>JavaScript</td>
        <td><img src="assets/images/1.png" width="150" height="100"> </td>
      </tr>
      <tr>
        <th >2</th>
        <td>Java</td>
        <td><img src="assets/images/2.png" width="150" height="100"></td>
      </tr>
      <tr>
        <th >3</th>
        <td>Python</td>
        <td><img src="assets/images/3.png" width="150" height="100"></td>
      </tr>
      <tr>
        <th >4</th>
        <td>Ruby</td>
        <td><img src="assets/images/4.png" width="150" height="100"></td>
      </tr>
      <tr>
        <th >5</th>
        <td>PHP</td>
        <td><img src="assets/images/5.png" width="150" height="100"></td>
      </tr>
      <tr>
        <th >6</th>
        <td>C++</td>
        <td><img src="assets/images/6.png" width="150" height="100"></td>
      </tr>
      <tr>
        <th >7</th>
        <td>CSS, HTML</td>
        <td><img src="assets/images/7.png" width="150" height="100"></td>
      </tr>
      <tr>
        <th >8</th>
        <td>C#</td>
        <td><img src="assets/images/8.png" width="150" height="100"></td>
      </tr>
      <tr>
        <th >9</th>
        <td>C</td>
        <td><img src="assets/images/9.png" width="150" height="100"></td>
      </tr>
      <tr>
        <th >10</th>
        <td>Go</td>
        <td><img src="assets/images/10.png" width="150" height="100"></td>
      </tr>
    </tbody>
  </table>